/* CSS variables start */
:root{
    --titllium_font: 'Titillium Web', sans-serif;
}
/* CSS variables end */

/* Common CSS start */
.div1{
    background-color: red;
}
.div2{
    background-color: green;
}
/* Common CSS end */

/* CSS variables start */
/* CSS variables end */

/* CSS variables start */
/* CSS variables end */

/* CSS variables start */
/* CSS variables end */

/* CSS variables start */
/* CSS variables end */

/* CSS variables start */
/* CSS variables end */